.Stack{
    overflow: scroll;
    min-height: 100vh;
    background-color: whitesmoke;

}
.typingBox{
    width: 100;
}

.topBar{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    min-width: min-content;  
}

.clientName{
    font-weight: 400;
    font-size: 1.5rem;

}

