.sb{
    height: 100vh;
    min-width: 20vw;
    background-color: rgb(30, 56, 48);
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.NavBox{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    color: white;
    margin: 20px 0;
}
.boxa{
    height: 30px;
    width: 30px;
    /* border: 1px solid red; */
    margin: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(193, 234, 140, 0.4);
    border-radius: 4px;

}
.box1{
    height: 3.5px;
    width: 70%;
    background-color: rgb(193, 234, 140);
}
.card{
    width: 100%;
    height: 50px;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid cyan; */
    box-sizing: border-box;
    position: relative;
    color: white;
}
.text{
    margin-left: 10px;
}
.flexlast{
    /* margin-left: 40px; */
    justify-self: flex-end;
    position: absolute;
    right: 5%;
    visibility: hidden;
    /* align-self: flex-end; */
}
.card:hover{
    /* width: 300px; */
    color:#c1ea8c;
    border-left: 3px solid #c1ea8c;
    background-color: rgb(44, 83, 71);
}
.card:hover .syle{
    fill: rgb(193, 234, 140) !important;
}
.card:hover .flexlast{
    visibility: visible;
}
.syle{
    fill:white;
}