.left-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0px auto;
    padding: 8px;
    
}
.logo{
   
}
.image_logo{
    width: 50px;
}
.navbar_buttons{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}
.navbar_buttons_button{
    font-size: 18px;

}

.navbar_buttons_button a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.profile-image{
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    width: 50px;
}
.right-nav-image-container{
    width: 50px;
    border-radius: 50%;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-nav a {
    text-decoration: none;
}